.hover-frame {
    transition: all 0.3s ease;
  }
  
  .hover-frame:hover {
    border: 2px solid #FCFCFC; /* Add white border on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow for hover effect */
  }
  