.custom-button {
    background: linear-gradient(to left, #00a7ff, #006499);
    transition: background 0.3s ease;
  }
  
  .custom-button:hover {
    background: #1E1154;
  }
  .glass-gradient-hover {
    transition: background 0.3s ease-in-out;
  }
  
  .glass-gradient-hover:hover {
    background: linear-gradient(to top right, rgba(34, 59, 161, 1), rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(10px);
  }
  
  .brand-card1:hover{
    backdrop-filter: blur(1px);
  }
  .brand-card1:hover .svg-background {
    fill: url(#bg_gradient_hover);
  }


  
  .picker-container {
  width: 430px;
}

.picker-content {
  width: 420px;
}

.color-canvas, .hue-canvas {
  width: 380px;
}

.color-indicator, .hue-indicator {
  --hue: 0;
}

@media (max-width: 768px) {
  .picker-container {
    max-width: 380px;
  }
  .picker-content {
    max-width: 95%;
  }
  .color-canvas, .hue-canvas {
    width: 320px;
  }
  .color-indicator, .hue-indicator {
    top: -0.25rem;
    left: calc((var(--hue) / 360) * 320 - 0.875rem);
  }
}

@media (max-width: 576px) {
  .picker-container {
    max-width: 80%;
  }
  .picker-content {
    max-width: 100%;
  }
  .color-canvas, .hue-canvas {
    width: 280px;
  }
  .color-indicator, .hue-indicator {
    top: -0.25rem;
    left: calc((var(--hue) / 360) * 280 - 0.875rem);
  }
}
.spinner {
    width: 50px;
    height: 50px;
  }
  
  .fade-line {
    animation: fade 1s infinite;
    opacity: 0.3;
  }
  
  .fade-line-0 {
    animation-delay: 0s;
  }
  .fade-line-1 {
    animation-delay: 0.0625s;
  }
  .fade-line-2 {
    animation-delay: 0.125s;
  }
  .fade-line-3 {
    animation-delay: 0.1875s;
  }
  .fade-line-4 {
    animation-delay: 0.25s;
  }
  .fade-line-5 {
    animation-delay: 0.3125s;
  }
  .fade-line-6 {
    animation-delay: 0.375s;
  }
  .fade-line-7 {
    animation-delay: 0.4375s;
  }
  .fade-line-8 {
    animation-delay: 0.5s;
  }
  .fade-line-9 {
    animation-delay: 0.5625s;
  }
  .fade-line-10 {
    animation-delay: 0.625s;
  }
  .fade-line-11 {
    animation-delay: 0.6875s;
  }
  .fade-line-12 {
    animation-delay: 0.75s;
  }
  .fade-line-13 {
    animation-delay: 0.8125s;
  }
  .fade-line-14 {
    animation-delay: 0.875s;
  }
  .fade-line-15 {
    animation-delay: 0.9375s;
  }
  
  @keyframes fade {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
  