.custom-button {
    background: linear-gradient(to left, #00a7ff, #006499);
    transition: background 0.3s ease;
  }
  
  .custom-button:hover {
    background: #1E1154;
  }
  .glass-gradient-hover {
    transition: background 0.3s ease-in-out;
  }
  
  .glass-gradient-hover:hover {
    background: linear-gradient(to top right, rgba(34, 59, 161, 1), rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(10px);
  }
  
  .brand-card1:hover{
    backdrop-filter: blur(1px);
  }
  .brand-card1:hover .svg-background {
    fill: url(#bg_gradient_hover);
  }


  
  .picker-container {
  width: 430px;
}

.picker-content {
  width: 420px;
}

.color-canvas, .hue-canvas {
  width: 380px;
}

.color-indicator, .hue-indicator {
  --hue: 0;
}

@media (max-width: 768px) {
  .picker-container {
    max-width: 380px;
  }
  .picker-content {
    max-width: 95%;
  }
  .color-canvas, .hue-canvas {
    width: 320px;
  }
  .color-indicator, .hue-indicator {
    top: -0.25rem;
    left: calc((var(--hue) / 360) * 320 - 0.875rem);
  }
}

@media (max-width: 576px) {
  .picker-container {
    max-width: 80%;
  }
  .picker-content {
    max-width: 100%;
  }
  .color-canvas, .hue-canvas {
    width: 280px;
  }
  .color-indicator, .hue-indicator {
    top: -0.25rem;
    left: calc((var(--hue) / 360) * 280 - 0.875rem);
  }
}

