/* Dark mode styles (already provided by Polotno) */
.bp5-dark .polotno-side-tabs-container .polotno-side-panel-tab:hover,
.bp5-dark .polotno-side-tabs-container .polotno-side-panel-tab.active {
  background-color: #c8c52d;
  color: white;
}

.bp5-dark .bp5-button:not([class*='bp5-intent-']):hover {
  background-color: #c8c52d;
}

/* Light mode styles */
.polotno-side-tabs-container .polotno-side-panel-tab:hover,
.polotno-side-tabs-container .polotno-side-panel-tab.active {
  background-color: #e0e0e0; /* Light hover background */
  color: black;
}

.bp5-button:not([class*='bp5-intent-']):hover {
  background-color: #e0e0e0; /* Light hover background */
}

/* [data-tooltip] {
  position: relative;
} */

/* [data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top:-0px;
  left: 60%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10; /* Ensures the tooltip is on top 
} */

/* [data-tooltip]:hover::after {
  opacity: 1;
} */
